<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.wanghong.mapper.ActorPayVideoMapper">
	<!-- 根据情况定制属性列表
	<resultMap id="RM.ActorPayVideo" type="com.wanghong.po.ActorPayVideo">
		<result property="id" column="id"/>
		<result property="actorId" column="actor_id"/>
		<result property="type" column="type"/>
		<result property="savePath" column="save_path"/>
		<result property="price" column="price"/>
		<result property="introduction" column="introduction"/>
		<result property="status" column="status"/>
		<result property="reason" column="reason"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	-->

	<!-- 查询公用抽取的列 -->
	<sql id="columns_all">
	    <![CDATA[
		id,actor_id,type,save_path,price,introduction,status,reason,create_time
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_actor_pay_video (
        	id,
        	actor_id,
        	type,
        	save_path,
        	price,
        	introduction,
        	status,
        	reason,
        	create_time
        ) VALUES (
        	#{id},
        	#{actorId},
        	#{type},
        	#{savePath},
        	#{price},
        	#{introduction},
        	#{status},
        	#{reason},
        	#{createTime}
        )
    ]]>
	</insert>

	<update id="update" parameterType="com.wanghong.po.ActorPayVideo">
        UPDATE t_actor_pay_video 
		<set>
	        <if test="actorId != null">
	        	actor_id = #{actorId},
	        </if>
	        <if test="type != null">
	        	type = #{type},
	        </if>
	        <if test="savePath != null">
	        	save_path = #{savePath},
	        </if>
	        <if test="price != null">
	        	price = #{price},
	        </if>
	        <if test="introduction != null">
	        	introduction = #{introduction},
	        </if>
	        <if test="status != null">
	        	status = #{status},
	        </if>
	        <if test="reason != null">
	        	reason = #{reason},
	        </if>
	        <if test="createTime != null">
	        	create_time = #{createTime}
	        </if>
	    </set>
        WHERE
	        id = #{id}
	</update>

	<delete id="deleteById">
        DELETE FROM t_actor_pay_video WHERE
        id = #{id}
	</delete>

	<select id="getById" resultType="com.wanghong.po.ActorPayVideo">
		SELECT
			*
		FROM
			t_actor_pay_video 
	    WHERE
	        id = #{id} 
	</select>

	<!-- 查询条件where,如果有时间范围查询，参数必须是startTime 和 endTime -->
	<sql id="where">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="actorId != null">
				AND actor_id = #{actorId}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="savePath != null">
				AND save_path = #{savePath}
			</if>
			<if test="price != null">
				AND price = #{price}
			</if>
			<if test="introduction != null">
				AND introduction = #{introduction}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="reason != null">
				AND reason = #{reason}
			</if>
			<if test="startTime != null">
	       	<![CDATA[
				AND create_time >= #{startTime} 
			]]>
			</if>
			<if test="endTime != null">
			<![CDATA[
				AND create_time < #{endTime}
			]]>
			</if>
		</where>
	</sql>
	
	<sql id="whereForPo">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="actorId != null">
				AND actor_id = #{actorId}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="savePath != null">
				AND save_path = #{savePath}
			</if>
			<if test="price != null">
				AND price = #{price}
			</if>
			<if test="introduction != null">
				AND introduction = #{introduction}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="reason != null">
				AND reason = #{reason}
			</if>
		</where>
	</sql>	

	<select id="count" parameterType="java.util.Map" resultType="int">
		SELECT count(*) FROM t_actor_pay_video
		<include refid="where" />
	</select>

	<select id="getListByMap" parameterType="java.util.Map" resultType="com.wanghong.po.ActorPayVideo">
		SELECT 
			*
		FROM
			t_actor_pay_video 
	    <include refid="where" />
	    ${limit}
	</select>
	
	<select id="getListByPo" parameterType="com.wanghong.po.ActorPayVideo" resultType="com.wanghong.po.ActorPayVideo">
		SELECT 
			*
		FROM 
			t_actor_pay_video 
	    <include refid="whereForPo" />
	</select>
</mapper>

