<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.wanghong.mapper.ActorMapper">
	<!-- 根据情况定制属性列表
	<resultMap id="RM.Actor" type="com.wanghong.po.Actor">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="nickname" column="nickname"/>
		<result property="icon" column="icon"/>
		<result property="signature" column="signature"/>
		<result property="introduction" column="introduction"/>
		<result property="price" column="price"/>
		<result property="state" column="state"/>
		<result property="sex" column="sex"/>
		<result property="age" column="age"/>
		<result property="provice" column="provice"/>
		<result property="city" column="city"/>
		<result property="phone" column="phone"/>
		<result property="password" column="password"/>
		<result property="channel" column="channel"/>
		<result property="fenchengbi" column="fenchengbi"/>
		<result property="bankAccount" column="bank_account"/>
		<result property="remarks" column="remarks"/>
		<result property="qq" column="qq"/>
		<result property="wechat" column="wechat"/>
		<result property="creator" column="creator"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>
	-->

	<!-- 查询公用抽取的列 -->
	<sql id="columns_all">
	    <![CDATA[
		id,name,nickname,icon,signature,introduction,price,state,sex,age,provice,city,phone,password,channel,fenchengbi,bank_account,remarks,qq,wechat,creator,create_time,update_time
	    ]]>
	</sql>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO t_actor (
        	id,
        	name,
        	nickname,
        	icon,
        	signature,
        	introduction,
        	price,
        	state,
        	sex,
        	age,
        	provice,
        	city,
        	phone,
        	password,
        	channel,
        	fenchengbi,
        	bank_account,
        	remarks,
        	qq,
        	wechat,
        	creator,
        	create_time,
        	update_time
        ) VALUES (
        	#{id},
        	#{name},
        	#{nickname},
        	#{icon},
        	#{signature},
        	#{introduction},
        	#{price},
        	#{state},
        	#{sex},
        	#{age},
        	#{provice},
        	#{city},
        	#{phone},
        	#{password},
        	#{channel},
        	#{fenchengbi},
        	#{bankAccount},
        	#{remarks},
        	#{qq},
        	#{wechat},
        	#{creator},
        	#{createTime},
        	#{updateTime}
        )
    ]]>
	</insert>

	<update id="update" parameterType="com.wanghong.po.Actor">
        UPDATE t_actor 
		<set>
	        <if test="name != null">
	        	name = #{name},
	        </if>
	        <if test="nickname != null">
	        	nickname = #{nickname},
	        </if>
	        <if test="icon != null">
	        	icon = #{icon},
	        </if>
	        <if test="signature != null">
	        	signature = #{signature},
	        </if>
	        <if test="introduction != null">
	        	introduction = #{introduction},
	        </if>
	        <if test="price != null">
	        	price = #{price},
	        </if>
	        <if test="state != null">
	        	state = #{state},
	        </if>
	        <if test="sex != null">
	        	sex = #{sex},
	        </if>
	        <if test="age != null">
	        	age = #{age},
	        </if>
	        <if test="provice != null">
	        	provice = #{provice},
	        </if>
	        <if test="city != null">
	        	city = #{city},
	        </if>
	        <if test="phone != null">
	        	phone = #{phone},
	        </if>
	        <if test="password != null">
	        	password = #{password},
	        </if>
	        <if test="channel != null">
	        	channel = #{channel},
	        </if>
	        <if test="fenchengbi != null">
	        	fenchengbi = #{fenchengbi},
	        </if>
	        <if test="bankAccount != null">
	        	bank_account = #{bankAccount},
	        </if>
	        <if test="remarks != null">
	        	remarks = #{remarks},
	        </if>
	        <if test="qq != null">
	        	qq = #{qq},
	        </if>
	        <if test="wechat != null">
	        	wechat = #{wechat},
	        </if>
	        <if test="creator != null">
	        	creator = #{creator},
	        </if>
	        <if test="createTime != null">
	        	create_time = #{createTime},
	        </if>
	        <if test="updateTime != null">
	        	update_time = #{updateTime}
	        </if>
	    </set>
        WHERE
	        id = #{id}
	</update>

	<delete id="deleteById">
        DELETE FROM t_actor WHERE
        id = #{id}
	</delete>

	<select id="getById" resultType="com.wanghong.po.Actor">
		SELECT
			*
		FROM
			t_actor 
	    WHERE
	        id = #{id} 
	</select>

	<!-- 查询条件where,如果有时间范围查询，参数必须是startTime 和 endTime -->
	<sql id="where">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="name != null">
				AND name like '%${name}%'
			</if>
			<if test="nickname != null">
				AND nickname like '%${nickname}%'
			</if>
			<if test="price != null">
				AND price = #{price}
			</if>
			<if test="state != null">
				AND state = #{state}
			</if>
			<if test="provice != null">
				AND provice = #{provice}
			</if>
			<if test="city != null">
				AND city = #{city}
			</if>
			<if test="phone != null">
				AND phone = #{phone}
			</if>
			<if test="password != null">
				AND password = #{password}
			</if>
			<if test="channel != null">
				AND channel = #{channel}
			</if>
			<if test="fenchengbi != null">
				AND fenchengbi = #{fenchengbi}
			</if>
			<if test="bankAccount != null">
				AND bank_account = #{bankAccount}
			</if>
			<if test="qq != null">
				AND qq = #{qq}
			</if>
			<if test="wechat != null">
				AND wechat = #{wechat}
			</if>
			<if test="creator != null">
				AND creator = #{creator}
			</if>
			<if test="startTime != null">
	       	<![CDATA[
				AND create_time >= #{startTime} 
			]]>
			</if>
			<if test="endTime != null">
			<![CDATA[
				AND create_time < #{endTime}
			]]>
			</if>
		</where>
	</sql>
	
	<sql id="whereForPo">
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="name != null">
				AND name = #{name}
			</if>
			<if test="nickname != null">
				AND nickname = #{nickname}
			</if>
			<if test="icon != null">
				AND icon = #{icon}
			</if>
			<if test="signature != null">
				AND signature = #{signature}
			</if>
			<if test="introduction != null">
				AND introduction = #{introduction}
			</if>
			<if test="price != null">
				AND price = #{price}
			</if>
			<if test="state != null">
				AND state = #{state}
			</if>
			<if test="sex != null">
				AND sex = #{sex}
			</if>
			<if test="provice != null">
				AND provice = #{provice}
			</if>
			<if test="city != null">
				AND city = #{city}
			</if>
			<if test="phone != null">
				AND phone = #{phone}
			</if>
			<if test="password != null">
				AND password = #{password}
			</if>
			<if test="channel != null">
				AND channel = #{channel}
			</if>
			<if test="fenchengbi != null">
				AND fenchengbi = #{fenchengbi}
			</if>
			<if test="bankAccount != null">
				AND bank_account = #{bankAccount}
			</if>
			<if test="remarks != null">
				AND remarks = #{remarks}
			</if>
			<if test="qq != null">
				AND qq = #{qq}
			</if>
			<if test="wechat != null">
				AND wechat = #{wechat}
			</if>
			<if test="creator != null">
				AND creator = #{creator}
			</if>
		</where>
	</sql>	

	<select id="count" parameterType="java.util.Map" resultType="int">
		SELECT count(*) FROM t_actor
		<include refid="where" />
	</select>

	<select id="getListByMap" parameterType="java.util.Map" resultType="com.wanghong.po.Actor">
		SELECT 
			*
		FROM
			t_actor 
	    <include refid="where" />
	    ${limit}
	</select>
	
	<select id="getListByPo" parameterType="com.wanghong.po.Actor" resultType="com.wanghong.po.Actor">
		SELECT 
			*
		FROM 
			t_actor 
	    <include refid="whereForPo" />
	</select>
</mapper>

